In [3]:
#Import the Neccessary Packages
import pandas as pd

In [4]:
java_data =  pd.read_csv("Data/Java.csv")

In [5]:
django_data = pd.read_csv("Data/Django.csv")

In [6]:
angular_data = pd.read_csv("Data/Angular.csv")

In [7]:
android_data = pd.read_csv("Data/Android.csv")

In [8]:
flask_data = pd.read_csv("Data/Python_Flask.csv")

In [9]:
prof_dev_data = pd.read_csv("Data/Professional Development.csv")

In [10]:
sw_dev_data  = pd.read_csv("Data/Intro_to_Software_Development.csv")

In [11]:
# Define a function to clean the data based on the given assumptions
def clean_data(data):
    # Drop rows with missing values for metrics
    data = data.dropna(subset=['mor_Attendance_Score__c', 'IP_Grade_Average__c',
                               'mor_Total_Activity_Time__c', 'Participations_Level__c',
                               'Page_Views_Level__c'])
    
    
    # Identify dropouts (students without any metrics)
    dropouts = data[data.isnull().all(axis=1)]
    data = data.drop(dropouts.index)
    
    
    # Identify failures (scores below 50% without enrollment in the next module)
    failures = data[(data['IP_Grade_Average__c'] < 50) & (data['Prerequisite_Course_Connection__c'].isnull())]
    data = data.drop(failures.index)
    
    
    # Enforce prerequisite course connections
    if 'Angular' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='last')
    elif 'Java/Python' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='first')
    elif 'Android/Django' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='first')
    
    return data

In [12]:
sw_dev_data_cleaned = clean_data(sw_dev_data)
sw_dev_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K00000BAy3UQAT,100.0,98.6100,1158852.0,2.0,3.0,a0R4K000001ynYnUAI,NaN
6,0034K000009yF7xQAE,86.0,83.1725,77853.0,2.0,1.0,a0R4K000001ynYnUAI,NaN

In [13]:
sw_dev_missing_values = sw_dev_data_cleaned.isnull().sum()
sw_dev_missing_values

hed__Contact__c                       0
mor_Attendance_Score__c               0
IP_Grade_Average__c                   0
mor_Total_Activity_Time__c            0
Participations_Level__c               0
Page_Views_Level__c                   0
hed__Course_Offering__c               0
Prerequisite_Course_Connection__c    91
dtype: int64

In [14]:
java_data_cleaned = clean_data(java_data)
java_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K000009yExdQAE,100.0,80.2725,677572.0,2.0,2.0,a0R4K000001z5CJUAY,a0P4K000000fx1yUAA
3,0034K00000B8gNoQAJ,100.0,77.0775,170711.0,3.0,1.0,a0R4K000001z5CJUAY,a0P4K000000fx2rUAA

In [15]:
#check for Missing Values
java_missing_values = java_data_cleaned.isnull().sum()
java_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [16]:
flask_data_cleaned = clean_data(flask_data)
flask_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,93.180,887219.0,2.0,3.0,a0R4K000001z5C4UAI,a0P4K000000fx1fUAA
2,0034K00000B8gOhQAJ,100.0,74.035,137896.0,3.0,2.0,a0R4K000001z5C4UAI,a0P4K000000fx1hUAA

In [17]:
flask_missing_values = flask_data_cleaned.isnull().sum()
flask_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [18]:
# Clean the data for each module
angular_data_cleaned = clean_data(angular_data)
angular_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,88.635,518086.0,1.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzRUAS
2,0034K00000B8gO1QAJ,100.0,71.590,219604.0,3.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzTUAS

In [19]:
android_data_cleaned = clean_data(android_data)
android_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K00000B8gO1QAJ,78.0,23.61,239165.0,2.0,2.0,a0R4K0000020w2DUAQ,a0P4K0000012KbmUAE
3,0034K00000BAy3KQAT,96.0,95.00,1238278.0,2.0,2.0,a0R4K0000020w2DUAQ,a0P4K0000012KbwUAE

In [20]:
django_data_cleaned = clean_data(django_data)
django_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000BAy36QAD,63.0,82.7325,303945.0,2.0,2.0,a0R4K0000020w1ZUAQ,NaN
4,0034K00000B8gNtQAJ,100.0,0.0000,194355.0,1.0,1.0,a0R4K0000020w1ZUAQ,a0P4K000000fx37UAA

In [21]:
prof_dev_data_cleaned = clean_data(prof_dev_data)
prof_dev_data_cleaned.head(2)

Empty DataFrame
Columns: [hed__Contact__c, mor_Attendance_Score__c, IP_Grade_Average__c, mor_Total_Activity_Time__c, Participations_Level__c, Page_Views_Level__c, hed__Course_Offering__c, Prerequisite_Course_Connection__c]
Index: []

In [22]:
prof_dev__missing_values = prof_dev_data_cleaned.isnull().sum()
prof_dev__missing_values

hed__Contact__c                      0.0
mor_Attendance_Score__c              0.0
IP_Grade_Average__c                  0.0
mor_Total_Activity_Time__c           0.0
Participations_Level__c              0.0
Page_Views_Level__c                  0.0
hed__Course_Offering__c              0.0
Prerequisite_Course_Connection__c    0.0
dtype: float64