In [58]:
#Import the Neccessary Packages
import pandas as pd

In [59]:
java_data =  pd.read_csv("Data/Java.csv")

In [60]:
django_data = pd.read_csv("Data/Django.csv")

In [61]:
angular_data = pd.read_csv("Data/Angular.csv")

In [62]:
android_data = pd.read_csv("Data/Android.csv")

In [63]:
flask_data = pd.read_csv("Data/Python_Flask.csv")

In [64]:
prof_dev_data = pd.read_csv("Data/Professional Development.csv")

In [65]:
sw_dev_data  = pd.read_csv("Data/Intro_to_Software_Development.csv")

In [66]:
def clean_data(data, next_module_data=None):
    # Drop rows with missing values for metrics
    data = data.dropna(subset=['mor_Attendance_Score__c', 'IP_Grade_Average__c',
                               'mor_Total_Activity_Time__c', 'Participations_Level__c',
                               'Page_Views_Level__c'])
    
    # Exclude students who have none of the provided metrics (dropouts)
    data = data[data.notnull().any(axis=1)]
    
    # Exclude students who scored below 50% without enrollment in the next module (failures)
    if next_module_data is not None:
        failed_students = data[(data['IP_Grade_Average__c'] < 50) & (~data['hed__Contact__c'].isin(next_module_data['hed__Contact__c']))]
        data = data.drop(failed_students.index)
    
    # Enforce prerequisite course connections
    if 'Angular' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='last')
    elif 'Java/Python' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='first')
    elif 'Android/Django' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='first')

    return data

In [67]:
sw_dev_data_cleaned = clean_data(sw_dev_data)
sw_dev_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K00000BAy3UQAT,100.0,98.61,1158852.0,2.0,3.0,a0R4K000001ynYnUAI,NaN
5,0034K00000B8gOCQAZ,100.0,0.00,0.0,0.0,1.0,a0R4K000001ynYnUAI,NaN

In [69]:
sw_dev_missing_values = sw_dev_data_cleaned.isnull().sum()
sw_dev_missing_values

hed__Contact__c                        0
mor_Attendance_Score__c                0
IP_Grade_Average__c                    0
mor_Total_Activity_Time__c             0
Participations_Level__c                0
Page_Views_Level__c                    0
hed__Course_Offering__c                0
Prerequisite_Course_Connection__c    117
dtype: int64

In [70]:
java_data_cleaned = clean_data(java_data)
java_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K000009yExdQAE,100.0,80.2725,677572.0,2.0,2.0,a0R4K000001z5CJUAY,a0P4K000000fx1yUAA
3,0034K00000B8gNoQAJ,100.0,77.0775,170711.0,3.0,1.0,a0R4K000001z5CJUAY,a0P4K000000fx2rUAA

In [71]:
#check for Missing Values
java_missing_values = java_data_cleaned.isnull().sum()
java_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [72]:
flask_data_cleaned = clean_data(flask_data)
flask_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,93.180,887219.0,2.0,3.0,a0R4K000001z5C4UAI,a0P4K000000fx1fUAA
2,0034K00000B8gOhQAJ,100.0,74.035,137896.0,3.0,2.0,a0R4K000001z5C4UAI,a0P4K000000fx1hUAA

In [73]:
flask_missing_values = flask_data_cleaned.isnull().sum()
flask_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [74]:
# Clean the data for each module
angular_data_cleaned = clean_data(angular_data)
angular_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,88.635,518086.0,1.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzRUAS
2,0034K00000B8gO1QAJ,100.0,71.590,219604.0,3.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzTUAS

In [75]:
android_data_cleaned = clean_data(android_data)
"android_data_cleaned".head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K00000B8gO1QAJ,78.0,23.61,239165.0,2.0,2.0,a0R4K0000020w2DUAQ,a0P4K0000012KbmUAE
3,0034K00000BAy3KQAT,96.0,95.00,1238278.0,2.0,2.0,a0R4K0000020w2DUAQ,a0P4K0000012KbwUAE

In [76]:
django_data_cleaned = clean_data(django_data)
django_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000BAy36QAD,63.0,82.7325,303945.0,2.0,2.0,a0R4K0000020w1ZUAQ,NaN
4,0034K00000B8gNtQAJ,100.0,0.0000,194355.0,1.0,1.0,a0R4K0000020w1ZUAQ,a0P4K000000fx37UAA

In [77]:
prof_dev_data_cleaned = clean_data(prof_dev_data)
prof_dev_data_cleaned.head(2)

Empty DataFrame
Columns: [hed__Contact__c, mor_Attendance_Score__c, IP_Grade_Average__c, mor_Total_Activity_Time__c, Participations_Level__c, Page_Views_Level__c, hed__Course_Offering__c, Prerequisite_Course_Connection__c]
Index: []

In [78]:
prof_dev__missing_values = prof_dev_data_cleaned.isnull().sum()
prof_dev__missing_values

hed__Contact__c                      0.0
mor_Attendance_Score__c              0.0
IP_Grade_Average__c                  0.0
mor_Total_Activity_Time__c           0.0
Participations_Level__c              0.0
Page_Views_Level__c                  0.0
hed__Course_Offering__c              0.0
Prerequisite_Course_Connection__c    0.0
dtype: float64

In [79]:
#Explore Professional Development More
prof_dev_data.shape

(77, 8)

In [80]:
prof_dev_data.isnull().sum()

hed__Contact__c                       0
mor_Attendance_Score__c              77
IP_Grade_Average__c                  77
mor_Total_Activity_Time__c            1
Participations_Level__c               9
Page_Views_Level__c                   9
hed__Course_Offering__c               0
Prerequisite_Course_Connection__c    77
dtype: int64

In [81]:
#Drop, mor_Attendance_Score__c, IP_Grade_Average__c , Prerequisite_Course_Connection__c column since they are empyt
new_prof_dev_data = prof_dev_data.drop(['mor_Attendance_Score__c', 'IP_Grade_Average__c', 'Prerequisite_Course_Connection__c'], axis=1)
new_prof_dev_data

,hed__Contact__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c
0,0034K00000B8uNfQAJ,NaN,NaN,NaN,a0R4K000002ycAwUAI
1,0034K00000AApEBQA1,21614.0,0.0,2.0,a0R4K000002ycAwUAI
2,0034K00000BAy34QAD,1230.0,0.0,1.0,a0R4K000002ycAwUAI
3,0034K000009yjMmQAI,19221.0,0.0,3.0,a0R4K000002ycAwUAI
4,0034K00000AApaZQAT,109088.0,0.0,3.0,a0R4K000002ycAwUAI
...,...,...,...,...,...
72,0034K00000B8uNUQAZ,0.0,NaN,NaN,a0R4K000002ycAwUAI
73,0034K00000B8uMTQAZ,0.0,NaN,NaN,a0R4K000002ycAwUAI
74,0034K0000081hl8QAA,15477.0,NaN,NaN,a0R4K000002ycAwUAI
75,0034K0000081eLyQAI,2197.0,NaN,NaN,a0R4K000002ycAwUAI
76,0034K00000B8uMvQAJ,56761.0,NaN,NaN,a0R4K000002ycAwUAI

In [82]:
new_prof_dev_data = new_prof_dev_data.dropna(subset=['mor_Total_Activity_Time__c', 'Page_Views_Level__c'])
new_prof_dev_data

,hed__Contact__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c
1,0034K00000AApEBQA1,21614.0,0.0,2.0,a0R4K000002ycAwUAI
2,0034K00000BAy34QAD,1230.0,0.0,1.0,a0R4K000002ycAwUAI
3,0034K000009yjMmQAI,19221.0,0.0,3.0,a0R4K000002ycAwUAI
4,0034K00000AApaZQAT,109088.0,0.0,3.0,a0R4K000002ycAwUAI
6,0034K00000B8gOhQAJ,12846.0,0.0,3.0,a0R4K000002ycAwUAI
...,...,...,...,...,...
65,0034K0000081eT6QAI,440.0,0.0,2.0,a0R4K000002ycAwUAI
66,0034K00000B8gOiQAJ,17462.0,0.0,2.0,a0R4K000002ycAwUAI
67,0034K00000B8gOVQAZ,2387.0,0.0,2.0,a0R4K000002ycAwUAI
68,0034K00000B8gNxQAJ,144.0,0.0,1.0,a0R4K000002ycAwUAI
69,0034K00000B8gNoQAJ,6872.0,0.0,1.0,a0R4K000002ycAwUAI

In [85]:
# Print the final enrollment numbers for each module
print("Intro to Software Development Enrollment:", sw_dev_data_cleaned)

Intro to Software Development Enrollment:         hed__Contact__c  mor_Attendance_Score__c  IP_Grade_Average__c  \
2    0034K00000BAy3UQAT                    100.0              98.6100
5    0034K00000B8gOCQAZ                    100.0               0.0000
6    0034K000009yF7xQAE                     86.0              83.1725
10   0034K00000AAqD5QAL                     95.0              67.2400
11   0034K00000BAy34QAD                    100.0              89.5075
..                  ...                      ...                  ...
130  0034K000009yF7tQAE                     77.0              60.2550
131  0034K00000B8gNoQAJ                     98.0              91.0450
133  0034K00000BBF3sQAH                    100.0              36.8950
134  0034K00000BBF49QAH                     97.0              60.4400
140  0034K00000BBPB8QAP                     64.0              92.3600

     mor_Total_Activity_Time__c  Participations_Level__c  Page_Views_Level__c  \
2                     1158852.0                      2.0                  3.0
5                           0.0                      0.0                  1.0
6                       77853.0                      2.0                  1.0
10                     139562.0                      2.0                  2.0
11                    1071090.0                      2.0                  3.0
..                          ...                      ...                  ...
130                    375568.0                      2.0                  2.0
131                    148753.0                      2.0                  1.0
133                    304188.0                      2.0                  3.0
134                    533860.0                      3.0                  3.0
140                    619424.0                      2.0                  2.0

    hed__Course_Offering__c  Prerequisite_Course_Connection__c
2        a0R4K000001ynYnUAI                                NaN
5        a0R4K000001ynYnUAI                                NaN
6        a0R4K000001ynYnUAI                                NaN
10       a0R4K000001ynYnUAI                                NaN
11       a0R4K000001ynYnUAI                                NaN
..                      ...                                ...
130      a0R4K000001ynYnUAI                                NaN
131      a0R4K000001ynYnUAI                                NaN
133      a0R4K000001ynYnUAI                                NaN
134      a0R4K000001ynYnUAI                                NaN
140      a0R4K000001ynYnUAI                                NaN

[117 rows x 8 columns]

In [86]:
# Optinal Step: Function to save cleaned data as CSV

def save_cleaned_data(data, module_name):
    folder_path = os.path.join('Data', 'clean_data')
    os.makedirs(folder_path, exist_ok=True)
    file_path = os.path.join(folder_path, f'{module_name}_cleaned.csv')
    data.to_csv(file_path, index=False)
    print(f"Cleaned data for {module_name} module saved successfully.")

In [87]:
# Save the cleaned data frames
save_cleaned_data(sw_dev_data_cleaned, 'sw_dev_data')
save_cleaned_data(java_data_cleaned, 'java_data')
save_cleaned_data(flask_data_cleaned, 'flask_data')
save_cleaned_data(angular_data_cleaned, 'angular_data')
save_cleaned_data(android_data_cleaned, 'android_data')
save_cleaned_data(django_data_cleaned, 'django_data')
save_cleaned_data(prof_dev_data_cleaned, 'prof_dev_data')

Cleaned data for sw_dev_data module saved successfully.

Cleaned data for java_data module saved successfully.

Cleaned data for flask_data module saved successfully.

Cleaned data for angular_data module saved successfully.

Cleaned data for android_data module saved successfully.

Cleaned data for django_data module saved successfully.

Cleaned data for prof_dev_data module saved successfully.

### **My Approach**

**Step 1:** i imported all the neccessary package, for this case we just needed pandas. 

**Step 2:** I loaded the data into our workbook, i downloaded the data and stored it in "Data" folder inside our work directory. 


**Step 3:** I then Performed exploratory data annalysis, EDA, where i cleaned up the provided data applying the stated assumption. In my case i went through the data for each module and perform the necessary filtering and exclusions. 

>> I used a Python function in this step to avoid repeating the block of code for cleanng the data.


Here's my process for each module:

**I). Intro to Software Development:**
- I excluded students who have none of the provided metrics, as they are presumed to have dropped out, then i only kept the students who scored 50% or above, as they are considered to have passed and calculated the final enrollment number for this module by counting the remaining students. 


**II). Angular:**

- I excluded students who had none of the provided metrics as they were presumed to have dropped out. I kept only the students who scored 50% or above, considering them to have passed. Additionally, I excluded students who were enrolled in both Java and Python, as they were not allowed to enroll in both simultaneously. Lastly, I calculated the final enrollment number for the module by counting the remaining students. 

**III). Java/Python:**
- I excluded students who had none of the provided metrics, as they were presumed to have dropped out. I kept only the students who scored 50% or above, as they were considered to have passed. I excluded students who were enrolled in Android or Django, based on their prerequisite course connection. I calculated the final enrollment number for each sub-module (Java and Python) by counting the remaining students.


**IV). Android/Django:**

-  I excluded students who had none of the provided metrics as they were presumed to have dropped out. I kept only the students who scored 50% or above, considering them to have passed. Additionally, I excluded students who were enrolled in Professional Development based on their prerequisite course connection. Finally, I calculated the final enrollment number for each sub-module (Android and Django) by counting the remaining students.

**V). Professional Development:**
- I excluded students who had none of the provided metrics as they were presumed to have dropped out. I kept only the students who scored 50% or above, considering them to have passed. I calculated the final enrollment number for that module by counting the remaining students.


**Step 4:** Lastly, i saved the cleaned data as CSV in the **clean_data** folder inside the **Data** Folder.


----
**Bonus:**
    - Avoided importing more packages since we are only using code to avoid loading unneccessary packages in out workbook. 
    - Used  "clean_data" function to encapsulate a specific set of data processing tasks related to data cleaning. It helped improve code readability, organization, and maintainability.

In [84]:
print("Intro to Software Development Enrollment:", intro_enrollment)
print("Angular Enrollment:", angular_enrollment)
print("Java Enrollment:", java_enrollment)
print("Python Enrollment:", python_enrollment)
print("Android Enrollment:", android_enrollment)
print("Django Enrollment:", django_enrollment)
print("Professional Development Enrollment:", professional_enrollment)

NameError: name 'intro_enrollment' is not defined