In [112]:
#Import the Neccessary Packages
import pandas as pd

In [113]:
java_data =  pd.read_csv("Data/Java.csv")

In [114]:
django_data = pd.read_csv("Data/Django.csv")

In [115]:
angular_data = pd.read_csv("Data/Angular.csv")

In [116]:
android_data = pd.read_csv("Data/Android.csv")

In [117]:
flask_data = pd.read_csv("Data/Python_Flask.csv")

In [118]:
prof_dev_data = pd.read_csv("Data/Professional Development.csv")

In [119]:
sw_dev_data  = pd.read_csv("Data/Intro_to_Software_Development.csv")

In [120]:
#Define the function to clean data
def clean_data(data):
    # Define the list of metrics columns
    metrics_columns = ['mor_Attendance_Score__c', 'IP_Grade_Average__c', 'mor_Total_Activity_Time__c', 'Participations_Level__c', 'Page_Views_Level__c']
    
    # Drop rows with missing metrics values
    data = data.dropna(subset=metrics_columns)
    
    return data

In [121]:
sw_dev_data_cleaned = clean_data(sw_dev_data)
sw_dev_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K00000BAy3UQAT,100.0,98.61,1158852.0,2.0,3.0,a0R4K000001ynYnUAI,NaN
5,0034K00000B8gOCQAZ,100.0,0.00,0.0,0.0,1.0,a0R4K000001ynYnUAI,NaN

In [122]:
sw_dev_missing_values = sw_dev_data_cleaned.isnull().sum()
sw_dev_missing_values

hed__Contact__c                        0
mor_Attendance_Score__c                0
IP_Grade_Average__c                    0
mor_Total_Activity_Time__c             0
Participations_Level__c                0
Page_Views_Level__c                    0
hed__Course_Offering__c                0
Prerequisite_Course_Connection__c    117
dtype: int64

In [123]:
java_data_cleaned = clean_data(java_data)
java_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K000009yExdQAE,100.0,80.2725,677572.0,2.0,2.0,a0R4K000001z5CJUAY,a0P4K000000fx1yUAA
3,0034K00000B8gNoQAJ,100.0,77.0775,170711.0,3.0,1.0,a0R4K000001z5CJUAY,a0P4K000000fx2rUAA

In [124]:
#check for Missing Values
java_missing_values = java_data_cleaned.isnull().sum()
java_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [125]:
flask_data_cleaned = clean_data(flask_data)
flask_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,93.180,887219.0,2.0,3.0,a0R4K000001z5C4UAI,a0P4K000000fx1fUAA
2,0034K00000B8gOhQAJ,100.0,74.035,137896.0,3.0,2.0,a0R4K000001z5C4UAI,a0P4K000000fx1hUAA

In [126]:
flask_missing_values = flask_data_cleaned.isnull().sum()
flask_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [127]:
# Clean the data for each module
angular_data_cleaned = clean_data(angular_data)
angular_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,88.635,518086.0,1.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzRUAS
2,0034K00000B8gO1QAJ,100.0,71.590,219604.0,3.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzTUAS

In [128]:
android_data_cleaned = clean_data(android_data)
android_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K00000B8gO1QAJ,78.0,23.61,239165.0,2.0,2.0,a0R4K0000020w2DUAQ,a0P4K0000012KbmUAE
3,0034K00000BAy3KQAT,96.0,95.00,1238278.0,2.0,2.0,a0R4K0000020w2DUAQ,a0P4K0000012KbwUAE

In [129]:
django_data_cleaned = clean_data(django_data)
django_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000BAy36QAD,63.0,82.7325,303945.0,2.0,2.0,a0R4K0000020w1ZUAQ,NaN
4,0034K00000B8gNtQAJ,100.0,0.0000,194355.0,1.0,1.0,a0R4K0000020w1ZUAQ,a0P4K000000fx37UAA

In [130]:
prof_dev_data_cleaned = clean_data(prof_dev_data)
prof_dev_data_cleaned.head(2)

Empty DataFrame
Columns: [hed__Contact__c, mor_Attendance_Score__c, IP_Grade_Average__c, mor_Total_Activity_Time__c, Participations_Level__c, Page_Views_Level__c, hed__Course_Offering__c, Prerequisite_Course_Connection__c]
Index: []

In [131]:
prof_dev__missing_values = prof_dev_data_cleaned.isnull().sum()
prof_dev__missing_values

hed__Contact__c                      0.0
mor_Attendance_Score__c              0.0
IP_Grade_Average__c                  0.0
mor_Total_Activity_Time__c           0.0
Participations_Level__c              0.0
Page_Views_Level__c                  0.0
hed__Course_Offering__c              0.0
Prerequisite_Course_Connection__c    0.0
dtype: float64