In [91]:
import pandas as pd

In [92]:
# Load the cleaned data for each module
angular_data = pd.read_csv('Data/clean_data/angular_data_cleaned.csv')
java_data = pd.read_csv('Data/clean_data/java_data_cleaned.csv')
python_data = pd.read_csv('Data/clean_data/flask_data_cleaned.csv')
django_data = pd.read_csv('Data/clean_data/django_data_cleaned.csv')
android_data = pd.read_csv('Data/clean_data/android_data_cleaned.csv')
professional_data = pd.read_csv('Data/clean_data/prof_dev_data_cleaned.csv')
intro_data = pd.read_csv('Data/clean_data/sw_dev_data_cleaned.csv')

In [93]:
# Function to calculate module-to-module retention rate
def calculate_retention_rate(enrollment_current, enrollment_next):
    retention_rate = (enrollment_next / enrollment_current) * 100
    return retention_rate

In [94]:
# Calculate the final enrollment numbers for each module
intro_enrollment = len(intro_data)
angular_enrollment = len(angular_data)
java_enrollment = len(java_data)
python_enrollment = len(python_data)
django_enrollment = len(django_data)
android_enrollment = len(android_data)

In [95]:
# Calculate module-to-module retention rates
intro_to_angular_retention = calculate_retention_rate(intro_enrollment, angular_enrollment)
angular_to_java_retention = calculate_retention_rate(angular_enrollment, java_enrollment)
angular_to_python_retention = calculate_retention_rate(angular_enrollment, python_enrollment)
java_to_android_retention = calculate_retention_rate(java_enrollment, android_enrollment)
python_to_django_retention = calculate_retention_rate(python_enrollment, django_enrollment)

In [96]:
# Print the module-to-module retention rates
print("Intro to Software Development -> Angular Retention Rate:", intro_to_angular_retention, "%")
print("Angular -> Java Retention Rate:", angular_to_java_retention, "%")
print("Angular -> Python Retention Rate:", angular_to_python_retention, "%")
print("Java -> Android Retention Rate:", java_to_android_retention, "%")
print("Python -> Django Retention Rate:", python_to_django_retention, "%")

Intro to Software Development -> Angular Retention Rate: 60.68376068376068 %
Angular -> Java Retention Rate: 30.985915492957744 %
Angular -> Python Retention Rate: 69.01408450704226 %
Java -> Android Retention Rate: 68.18181818181817 %
Python -> Django Retention Rate: 83.6734693877551 %

#### **Handling  Android to Professional Development Retention and Django to Professional Development Retention Rate.**

- Am getting zero rention rate which is an hypothesis i need to test.

In [97]:
#'mor_Attendance_Score__c' and 'IP_Grade_Average__c'are empty
prof_dev_data = pd.read_csv("Data/Professional Development.csv")

In [98]:
prof_dev_data.head(3)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000B8uNfQAJ,NaN,NaN,NaN,NaN,NaN,a0R4K000002ycAwUAI,NaN
1,0034K00000AApEBQA1,NaN,NaN,21614.0,0.0,2.0,a0R4K000002ycAwUAI,NaN
2,0034K00000BAy34QAD,NaN,NaN,1230.0,0.0,1.0,a0R4K000002ycAwUAI,NaN

In [99]:
#Drop, mor_Attendance_Score__c, IP_Grade_Average__c , Prerequisite_Course_Connection__c column since they are empyt
new_prof_dev_data = prof_dev_data.drop(['mor_Attendance_Score__c', 'IP_Grade_Average__c', 'Prerequisite_Course_Connection__c'], axis=1)
new_prof_dev_data

,hed__Contact__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c
0,0034K00000B8uNfQAJ,NaN,NaN,NaN,a0R4K000002ycAwUAI
1,0034K00000AApEBQA1,21614.0,0.0,2.0,a0R4K000002ycAwUAI
2,0034K00000BAy34QAD,1230.0,0.0,1.0,a0R4K000002ycAwUAI
3,0034K000009yjMmQAI,19221.0,0.0,3.0,a0R4K000002ycAwUAI
4,0034K00000AApaZQAT,109088.0,0.0,3.0,a0R4K000002ycAwUAI
...,...,...,...,...,...
72,0034K00000B8uNUQAZ,0.0,NaN,NaN,a0R4K000002ycAwUAI
73,0034K00000B8uMTQAZ,0.0,NaN,NaN,a0R4K000002ycAwUAI
74,0034K0000081hl8QAA,15477.0,NaN,NaN,a0R4K000002ycAwUAI
75,0034K0000081eLyQAI,2197.0,NaN,NaN,a0R4K000002ycAwUAI
76,0034K00000B8uMvQAJ,56761.0,NaN,NaN,a0R4K000002ycAwUAI

In [100]:
new_prof_dev_data.dropna(inplace=True)

In [101]:
new_prof_dev_data.shape

(68, 5)

In [105]:
android_data_unique = android_data.drop_duplicates(subset='hed__Contact__c')
django_data_unique = django_data.drop_duplicates(subset='hed__Contact__c')

android_passed_count = len(android_data_unique)
django_passed_count = len(django_data_unique)


android_to_prof_dev = android_data_unique[android_data_unique['hed__Course_Offering__c'] == 'Professional Development']
android_to_prof_dev_count = len(android_to_prof_dev)
android_to_prof_dev_retention_rate = (android_to_prof_dev_count / android_passed_count) * 100

django_to_prof_dev = django_data_unique[django_data_unique['hed__Course_Offering__c'] == 'Professional Development']
django_to_prof_dev_count = len(django_to_prof_dev)
django_to_prof_dev_retention_rate = (django_to_prof_dev_count / django_passed_count) * 100

In [106]:
print(android_to_prof_dev_retention_rate, django_to_prof_dev_retention_rate)

0.0 0.0