In [49]:
#Import the Neccessary Packages
import pandas as pd

In [50]:
#Read Data 
java_data =  pd.read_csv("Data/Java.csv") 
# java_data.columns

In [51]:
django_data = pd.read_csv("Data/Django.csv")
# django_data.columns

In [52]:
angular_data = pd.read_csv("Data/Angular.csv")
# angular_data.columns

In [53]:
android_data = pd.read_csv("Data/Android.csv")
# android_data.columns

In [54]:
flask_data = pd.read_csv("Data/Python_Flask.csv")
# flask_data.columns

In [55]:
prof_dev_data = pd.read_csv("Data/Professional Development.csv")
# prof_dev_data.columns

In [56]:
sw_dev_data  = pd.read_csv("Data/Intro_to_Software_Development.csv")
# sw_dev_data.columns

In [57]:
java_data.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000B8uNfQAJ,NaN,0.0,NaN,NaN,NaN,a0R4K000001z5CJUAY,NaN
1,0034K00000B8uMEQAZ,NaN,0.0,328.0,NaN,NaN,a0R4K000001z5CJUAY,NaN

In [58]:
django_data.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000BAy36QAD,63.0,82.7325,303945.0,2.0,2.0,a0R4K0000020w1ZUAQ,NaN
1,0034K00000B8uNmQAJ,NaN,NaN,16175.0,NaN,NaN,a0R4K0000020w1ZUAQ,a0P4K0000012PqUUAU

In [59]:
angular_data.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000AAqD5QAL,NaN,NaN,32980.0,NaN,NaN,a0R4K000001z16cUAA,a0P4K000001LuzQUAS
1,0034K00000BAy34QAD,100.0,88.635,518086.0,1.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzRUAS

In [60]:
android_data.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000I7xWaQAJ,NaN,NaN,32237.0,NaN,NaN,a0R4K0000020w2DUAQ,NaN
1,0034K00000B8uNfQAJ,NaN,NaN,NaN,NaN,NaN,a0R4K0000020w2DUAQ,NaN

In [61]:
flask_data.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000AAqD5QAL,NaN,NaN,0.0,NaN,NaN,a0R4K000001z5C4UAI,a0P4K000000fx1eUAA
1,0034K00000BAy34QAD,100.0,93.18,887219.0,2.0,3.0,a0R4K000001z5C4UAI,a0P4K000000fx1fUAA

In [62]:
prof_dev_data.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000B8uNfQAJ,NaN,NaN,NaN,NaN,NaN,a0R4K000002ycAwUAI,NaN
1,0034K00000AApEBQA1,NaN,NaN,21614.0,0.0,2.0,a0R4K000002ycAwUAI,NaN

In [63]:
sw_dev_data.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
0,0034K00000B8uNfQAJ,NaN,0.0,NaN,NaN,NaN,a0R4K000001ynYnUAI,NaN
1,0034K000009yICAQA2,NaN,0.0,0.0,NaN,NaN,a0R4K000001ynYnUAI,NaN

In [64]:
# Define a function to clean the data for each module
def clean_data(df, next_module_df, prerequisite_col):
    # Drop records with missing metrics
    df.dropna(subset=['mor_Attendance_Score__c', 'IP_Grade_Average__c', 'mor_Total_Activity_Time__c'], inplace=True)
    
    # Exclude students who scored below 50% and not enrolled in the next module
    next_module_ids = set(next_module_df['hed__Contact__c'])
    df = df[(df['IP_Grade_Average__c'] >= 50) & (df['hed__Contact__c'].isin(next_module_ids))]
    
    # Exclude students who enrolled in multiple modules
    df.drop_duplicates(subset=['hed__Contact__c'], keep='first', inplace=True)
    
    return df

In [66]:
# Clean the data for each module
angular_df = clean_data(angular_data, [java_data, flask_data], 'hed__Contact__c')

TypeError: list indices must be integers or slices, not str