In [89]:
#Import the Neccessary Packages
import pandas as pd

In [90]:
java_data =  pd.read_csv("Data/Java.csv")

In [91]:
django_data = pd.read_csv("Data/Django.csv")

In [92]:
angular_data = pd.read_csv("Data/Angular.csv")

In [93]:
android_data = pd.read_csv("Data/Android.csv")

In [94]:
flask_data = pd.read_csv("Data/Python_Flask.csv")

In [95]:
prof_dev_data = pd.read_csv("Data/Professional Development.csv")

In [96]:
sw_dev_data  = pd.read_csv("Data/Intro_to_Software_Development.csv")

In [97]:
def clean_data(data, next_module_data=None):
    # Drop rows with missing values for metrics
    data = data.dropna(subset=['mor_Attendance_Score__c', 'IP_Grade_Average__c',
                               'mor_Total_Activity_Time__c', 'Participations_Level__c',
                               'Page_Views_Level__c'])
    
    # Exclude students who have none of the provided metrics (dropouts)
    data = data[data.notnull().any(axis=1)]
    
    # Exclude students who scored below 50% without enrollment in the next module (failures)
    if next_module_data is not None:
        failed_students = data[(data['IP_Grade_Average__c'] < 50) & (~data['hed__Contact__c'].isin(next_module_data['hed__Contact__c']))]
        data = data.drop(failed_students.index)
    
    # Enforce prerequisite course connections
    if 'Angular' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='last')
    elif 'Java/Python' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='first')
    elif 'Android/Django' in data['hed__Course_Offering__c'].values:
        data = data.drop_duplicates(subset='hed__Contact__c', keep='first')

    return data

In [98]:
sw_dev_data_cleaned = clean_data(sw_dev_data)
sw_dev_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K00000BAy3UQAT,100.0,98.61,1158852.0,2.0,3.0,a0R4K000001ynYnUAI,NaN
5,0034K00000B8gOCQAZ,100.0,0.00,0.0,0.0,1.0,a0R4K000001ynYnUAI,NaN

In [99]:
sw_dev_missing_values = sw_dev_data_cleaned.isnull().sum()
sw_dev_missing_values

hed__Contact__c                        0
mor_Attendance_Score__c                0
IP_Grade_Average__c                    0
mor_Total_Activity_Time__c             0
Participations_Level__c                0
Page_Views_Level__c                    0
hed__Course_Offering__c                0
Prerequisite_Course_Connection__c    117
dtype: int64

In [100]:
java_data_cleaned = clean_data(java_data)
java_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
2,0034K000009yExdQAE,100.0,80.2725,677572.0,2.0,2.0,a0R4K000001z5CJUAY,a0P4K000000fx1yUAA
3,0034K00000B8gNoQAJ,100.0,77.0775,170711.0,3.0,1.0,a0R4K000001z5CJUAY,a0P4K000000fx2rUAA

In [101]:
#check for Missing Values
java_missing_values = java_data_cleaned.isnull().sum()
java_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [102]:
flask_data_cleaned = clean_data(flask_data)
flask_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,93.180,887219.0,2.0,3.0,a0R4K000001z5C4UAI,a0P4K000000fx1fUAA
2,0034K00000B8gOhQAJ,100.0,74.035,137896.0,3.0,2.0,a0R4K000001z5C4UAI,a0P4K000000fx1hUAA

In [103]:
flask_missing_values = flask_data_cleaned.isnull().sum()
flask_missing_values

hed__Contact__c                      0
mor_Attendance_Score__c              0
IP_Grade_Average__c                  0
mor_Total_Activity_Time__c           0
Participations_Level__c              0
Page_Views_Level__c                  0
hed__Course_Offering__c              0
Prerequisite_Course_Connection__c    0
dtype: int64

In [104]:
# Clean the data for each module
angular_data_cleaned = clean_data(angular_data)
angular_data_cleaned.head(2)

,hed__Contact__c,mor_Attendance_Score__c,IP_Grade_Average__c,mor_Total_Activity_Time__c,Participations_Level__c,Page_Views_Level__c,hed__Course_Offering__c,Prerequisite_Course_Connection__c
1,0034K00000BAy34QAD,100.0,88.635,518086.0,1.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzRUAS
2,0034K00000B8gO1QAJ,100.0,71.590,219604.0,3.0,3.0,a0R4K000001z16cUAA,a0P4K000001LuzTUAS

In [105]:
android_data_cleaned = clean_data(android_data)
android_data_cleaned.head(2)

AttributeError: 'str' object has no attribute 'head'

In [ ]:
django_data_cleaned = clean_data(django_data)
django_data_cleaned.head(2)

In [ ]:
prof_dev_data_cleaned = clean_data(prof_dev_data)
prof_dev_data_cleaned.head(2)

In [ ]:
prof_dev__missing_values = prof_dev_data_cleaned.isnull().sum()
prof_dev__missing_values

In [ ]:
#Explore Professional Development More
prof_dev_data.shape

In [ ]:
prof_dev_data.isnull().sum()

In [ ]:
#Drop, mor_Attendance_Score__c, IP_Grade_Average__c , Prerequisite_Course_Connection__c column since they are empyt
new_prof_dev_data = prof_dev_data.drop(['mor_Attendance_Score__c', 'IP_Grade_Average__c', 'Prerequisite_Course_Connection__c'], axis=1)
new_prof_dev_data

In [ ]:
new_prof_dev_data = new_prof_dev_data.dropna(subset=['mor_Total_Activity_Time__c', 'Page_Views_Level__c'])
new_prof_dev_data

In [ ]:
# Print the final enrollment numbers for each module
print("Intro to Software Development Enrollment:", sw_dev_data_cleaned)

In [ ]:
# Optinal Step: Function to save cleaned data as CSV

def save_cleaned_data(data, module_name):
    folder_path = os.path.join('Data', 'clean_data')
    os.makedirs(folder_path, exist_ok=True)
    file_path = os.path.join(folder_path, f'{module_name}_cleaned.csv')
    data.to_csv(file_path, index=False)
    print(f"Cleaned data for {module_name} module saved successfully.")

In [ ]:
# Save the cleaned data frames
save_cleaned_data(sw_dev_data_cleaned, 'sw_dev_data')
save_cleaned_data(java_data_cleaned, 'java_data')
save_cleaned_data(flask_data_cleaned, 'flask_data')
save_cleaned_data(angular_data_cleaned, 'angular_data')
save_cleaned_data(android_data_cleaned, 'android_data')
save_cleaned_data(django_data_cleaned, 'django_data')
save_cleaned_data(prof_dev_data_cleaned, 'prof_dev_data')

### **My Approach**

**Step 1:** i imported all the neccessary package, for this case we just needed pandas. 

**Step 2:** I loaded the data into our workbook, i downloaded the data and stored it in "Data" folder inside our work directory. 


**Step 3:** I then Performed exploratory data annalysis, EDA, where i cleaned up the provided data applying the stated assumption. In my case i went through the data for each module and perform the necessary filtering and exclusions. 

>> I used a Python function in this step to avoid repeating the block of code for cleanng the data.


Here's my process for each module:

**I). Intro to Software Development:**
- I excluded students who have none of the provided metrics, as they are presumed to have dropped out, then i only kept the students who scored 50% or above, as they are considered to have passed and calculated the final enrollment number for this module by counting the remaining students. 


**II). Angular:**

- I excluded students who had none of the provided metrics as they were presumed to have dropped out. I kept only the students who scored 50% or above, considering them to have passed. Additionally, I excluded students who were enrolled in both Java and Python, as they were not allowed to enroll in both simultaneously. Lastly, I calculated the final enrollment number for the module by counting the remaining students. 

**III). Java/Python:**
- I excluded students who had none of the provided metrics, as they were presumed to have dropped out. I kept only the students who scored 50% or above, as they were considered to have passed. I excluded students who were enrolled in Android or Django, based on their prerequisite course connection. I calculated the final enrollment number for each sub-module (Java and Python) by counting the remaining students.


**IV). Android/Django:**

-  I excluded students who had none of the provided metrics as they were presumed to have dropped out. I kept only the students who scored 50% or above, considering them to have passed. Additionally, I excluded students who were enrolled in Professional Development based on their prerequisite course connection. Finally, I calculated the final enrollment number for each sub-module (Android and Django) by counting the remaining students.

**V). Professional Development:**
- I excluded students who had none of the provided metrics as they were presumed to have dropped out. I kept only the students who scored 50% or above, considering them to have passed. I calculated the final enrollment number for that module by counting the remaining students.


**Step 4:** Lastly, i saved the cleaned data as CSV in the **clean_data** folder inside the **Data** Folder.


----
**Bonus:**
    - Avoided importing more packages since we are only using code to avoid loading unneccessary packages in out workbook. 
    - Used  "clean_data" function to encapsulate a specific set of data processing tasks related to data cleaning. It helped improve code readability, organization, and maintainability.